// Global
.btn {
   background-color: #e76114 !important;
}

.btn:hover {
   background-color: #fd6208 !important;
}



// Landing page - navbar
.login {
   position: absolute;
   left: 90%;
   padding: 0 10px 0 10px;
}

.login:hover {
   background-color: rgba(0,0,0,0.1);
}



// CALLOUT SECTION

.callout-container {
   height: calc(100vh - 60px);
   background: url("./img/callout.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;

   .jumbotron {
      background: rgba(255, 255, 255, 0.66);
   }

   .waves-effect {
      margin: 33px
   }
 }

// SIGN UP SECTION

.sing-up-container {
   height: 100vh;

   .container {
      @media screen and (min-width: 993px) {
         width: 33% !important;
       }
   }

   .sign-up--padding-top {
      padding-top: 10%;

      h3 {
         margin-top: 0;
      }
   }
}

// LOGIN SECTION

.login-container {
   height: 100vh;

   .container {
      @media screen and (min-width: 993px) {
         width: 33% !important;
       }
   }

   .login--padding-top {
      padding-top: 10%;

      h3 {
         margin-top: 0;
      }
   }

   .flash {
      color: #ba3131;
      background: #f7f78c;
      font-size: 18px;
   }
}

// MAIN PAGE

.text-align--right {
   text-align: right;
}

.logout-icon {
   margin-right: 8px;
   position: relative;
   top: -4px;
}

.container-select {
   .display-flex {
      display: flex;
   }

   .margin--auto {
      margin: auto;
   }
   
   .select-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

   .button-margin--top {
      margin-top: 10px;
   }
}

.container-cards {
   img {
      height: 175px;
   }

   .icon--inline-block {
      display: inline-block;
   }

   .margin-right {
      margin-right: 17px !important;
   }

   .fork {
      height: 20.4px;
      line-height: 20.4px !important;
   }

   .add-card {
      height: 400px;
      border: 2px solid #039be5;

      display: flex;
      justify-content: center;
      align-items: center;

      .icon-plus {
         font-size: 185px;
      }
   }

   .btn-heart {
      background: #ffffff;

      .heart{
         color: #fc5975;
         font-weight: bold;
      }
   }

   .btn-floating-tool {
      width: 35px !important;
      height: 35px !important;
   }

   .cooked-number {
      margin-left: 8px;
      font-size: 18px;
   }

   .hearts {
      color: #fc5975;
      margin-top: 20px;
   }

   .btn-small {
      background-color: #fff6a6;
      border-radius: 10px;
      color: black;
      height: 25.4px;
      line-height: 20.4px;
      font-size: 11px;
      margin-top: 5px;
   }

   .tool {
      color: #e7c91a;
      line-height: 35px !important;
   }

   .remove {
      color: #af0101;
      font-weight: bold;
      line-height: 35px !important;
   }
}





