// CALLOUT SECTION

.callout-container {
   height: calc(100vh - 60px);
   background: url("./img/callout.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;

   .jumbotron {
      background: rgba(255, 255, 255, 0.66);
   }

   .waves-effect {
      margin: 33px
   }
 }

// SIGN UP SECTION

.sing-up-container {
   height: 100vh;

   .container {
      @media screen and (min-width: 993px) {
         width: 33% !important;
       }
   }

   .sign-up--padding-top {
      padding-top: 10%;

      h3 {
         margin-top: 0;
      }
   }
}

// LOGIN SECTION

.login-container {
   height: 100vh;

   .container {
      @media screen and (min-width: 993px) {
         width: 33% !important;
       }
   }

   .login--padding-top {
      padding-top: 10%;

      h3 {
         margin-top: 0;
      }
   }
}

// MAIN PAGE

.text-align--right {
   text-align: right
}

.container-select {
   .display-flex {
      display: flex;
   }

   .margin--auto {
      margin: auto;
   }
}

.container-cards {
   .image {
      width: 100%;
   }
}



