{% extends 'base.html' %}
{% block content %}
<!-- Add cookcard section -->
<section class="container-cookcard">
      <!-- Back button-->
      <div class="arrow-back"><a href="{{ url_for('main_page', username=session['username']) }}"
                  class="waves-effect waves-light btn btn--orange"><i class="material-icons">arrow_back</i></a></div>
      <!-- /Back button-->
      <div class="container">
            <h3 class="center-align">Add Your New Food Card</h3>

            <form method="POST" class="col s12 margin-bottom--20px" enctype="multipart/form-data">
                  <div class="row">
                        <div class="input-field col s12">
                              <input id="upload_picture" name="upload_picture" type="file" class="validate">
                        </div>
                  </div>
                  <!-- Flash extension is not allowed -->
                  <div class="flash container left">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <p class="flash-extension">{{ message }}</p>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                  </div>
                  <!-- /Flash extension is not allowed -->
                  <div class="row">
                        <div class="input-field col s12">
                              <input id="recipe_name" name="recipe_name" type="text" class="validate" required>
                              <label for="recipe_name">Food name</label>
                        </div>
                  </div>
                  <div class="row">
                        <div class="input-field col s12">
                              <input id="cuisine" name="cuisine" type="text" class="validate">
                              <label for="cuisine">Cuisine</label>
                        </div>
                  </div>

                  <div class="row">
                        <div class="input-field col s12">
                              <textarea id="editor1" name="recipe"
                                    class="materialize-textarea">Recipe here...</textarea>
                              <label hidden for="editor1">Recipe</label>
                        </div>
                  </div>
                  <div class="center-align">
                        <button type="submit" class="waves-effect waves-light btn btn--orange">Submit</button>
                  </div>
            </form>
      </div>
</section>
{% endblock %}