{% extends 'base.html' %}
{% block content %}

<!-- Navbar -->
<nav class="nav-landing">
   <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger btn btn--orange hamburger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
         <li><a href="{{ url_for('login') }}" class="waves-effect waves-light btn btn--orange login">Login</a></li>
         <li><a href="#sign-up" class="waves-effect waves-light btn btn--orange"><i class="material-icons left">person_add</i>Sign
            Up</a></li>
      </ul>
   </div>
</nav>
<!-- /Navbar -->

<!-- Hamburger menu -->
<ul class="sidenav slide-out" id="mobile-demo">
   <li><a class="sidenav-close" href="#!">Close Menu</a></li>
   <li><a href="{{ url_for('login') }}">Login</a></li>
   <li><a href="#sign-up" class="sidenav-close">Sing Up</a></li>
</ul>
<!-- /Hamburger menu -->

<!-- Callout -->
<section class="callout-container">
   <div class="container">
      <div class="jumbotron">
         <h1 class="center-align">CREATE YOUR OWN COOKBOOK</h1>
         <div class="center-align"><a href="#sign-up" class="waves-effect waves-light btn btn--orange">Sign Up</a></div>
      </div>
   </div>
</section>
<!-- /Callout -->

<!-- Sing Up section -->
<section class="sing-up-container" id="sign-up">
   <div class="row container sign-up--padding-top">
      <h3 class="center-align">Create your account</h3>
      <form id="singUpForm" class="col s12">
         <div class="row">
            <div class="input-field col s12">
               <input id="username" name="username" type="text" class="validate" required>
               <label for="username">Username</label>
            </div>
            <p id="errorAlert" style="display: none; color:tomato;"></p>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <input id="password" name="password" type="password" class="validate" required>
               <label for="password">Password</label>
            </div>
         </div>
         <div class="center-align"><button type="submit" class="waves-effect waves-light btn btn--orange">Sign Up</button></div>
      </form>
   </div>
</section>
<!-- /Sing Up section -->
{% endblock %}
