{% extends 'base.html' %}
{% block content %}

<!-- Sing In section -->
<section class="sing-up-container" id="sign-up">
   <div class="row container sign-up--padding-top">
      <h3 class="center-align">Log In to your cookbook account</h3>
      <form class="col s12">
         <div class="row">
            <div class="input-field col s12">
               <input id="username" type="text" class="validate">
               <label for="username">Username</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <input id="password" type="password" class="validate">
               <label for="password">Password</label>
            </div>
         </div>
         <div class="center-align"> <a class="waves-effect waves-light btn">Log In</a></div>
      </form>
   </div>
</section>
<!-- /Sing In section -->

{% endblock %}