{% extends 'base.html' %}
{% block content %}

<div class="username" id="name{{ session['username'] }}" name="{{ session['username'] }}">

   <!-- Logout button -->
   <div class="arrow-back text-align--right"><a href="{{ url_for('logout') }}"
         class="waves-effect waves-light btn"><span class="logout-icon">Log Out</span><i
            class="material-icons">backspace</i></a></div>
   <!-- /Logout button -->

   <h2 class="center-align" id="header">Welcome to your cookbook, {{ user.name }}!</h2>

   <!-- Sort by Select -->
   <div class="container-select">
      <div class="row display-flex">
         <div class="col s5 m3 margin--auto">
            <form action="{{ url_for('main_page_query', username=session['username']) }}" method="POST"
               class="select-form">
               <label for="pet-select">Sort by:</label>
               <select style="display: inline-block;" id="pet-select" name="sort">
                  <option value="name" selected>Name</option>
                  <option value="cuisine">Cuisine</option>
                  <option value="cooked">Hearts</option>
               </select>
               <button class="waves-effect waves-light btn button-margin--top">Sort</button>
            </form>
         </div>
      </div>
   </div>
   <!-- Sort by Select -->

   <!-- Pagination -->
   <div class="center-align">
      <ul class="pagination">
         {% if clicked_page > 0 %}
         <li class="waves-effect"><a class="pagination-arrow-backward" href="#header"><i
                  class="material-icons">chevron_left</i></a></li>
         {% else %}
         <li class="disabled"><a class="pagination-arrow-backward" href="#header"><i
                  class="material-icons">chevron_left</i></a></li>
         {% endif %}

         {% for n in range(pages) %}
         {% if n == clicked_page %}
         <li class="waves-effect active"><a class="pagination-btn" href="#header">{{ n + 1 }}</a></li>
         {% else %}
         <li class="waves-effect"><a class="pagination-btn" href="#header">{{ n + 1 }}</a></li>
         {% endif %}
         {% endfor %}

         {% if clicked_page == (pages - 1) %}
         <li class="disabled"><a class="pagination-arrow-forward" href="#header"><i
                  class="material-icons">chevron_right</i></a></li>
         {% else %}
         <li class="waves-effect"><a class="pagination-arrow-forward" href="#header"><i
                  class="material-icons">chevron_right</i></a></li>
         {% endif %}
      </ul>
   </div>
   <!-- /Pagination -->

   <!-- Cards container -->
   <div class="container container-cards">
      <div class="row">

         <!-- Add a new card -->
         <div class="col s12 m6 l4">
            <a href="{{ url_for('add_page', username=session['username']) }}">
               <div class="card">
                  <div class="card-content add-card">
                     <i class="material-icons icon-plus">add</i>
                  </div>
               </div>
            </a>
         </div>
         <!-- /Add a new card -->

         {% for recipe_card in user.recipe_cards %}
         <div class="col s12 m6 l4">
            <div class="card medium">

               <div class="center-align activator"><span
                     class="card-title grey-text text-darken-4">{{ recipe_card.recipe_name }}</span></div>

               <div class="card-image waves-effect waves-block waves-light">
                  {% if recipe_card.img == "empty" %}
                  <img class="activator"
                     src="https://shop.countdown.co.nz/Content/Recipes/diamond_spagbol_540x380_5.jpg"
                     alt="default picture of meal">
                  {% else %}
                  <img class="activator" src="{{ url_for('file', filename=recipe_card.img) }}" alt="picture of meal">
                  {% endif %}
               </div>

               <div class="card-content">
                  <div class="card-title activator grey-text text-darken-4">
                     <p class="icon--inline-block activator">{{ recipe_card.cuisine }}</p>
                     <button class="right activator waves-effect waves-light btn-small">Recipe<i
                           class="material-icons right fork">restaurant_menu</i></button>
                  </div>

                  <div class="hearts">
                     {% if recipe_card.cooked | int < 5 %}
                     <span></span>
                     {% elif recipe_card.cooked | int > 4 and recipe_card.cooked | int < 10 %}
                     <span><i class="material-icons">favorite</i></span>
                     {% elif recipe_card.cooked | int > 9 and recipe_card.cooked | int < 15 %}
                     {% for favorite in range(2) %}
                     <span><i class="material-icons">favorite</i></span>
                     {% endfor %}
                     {% elif recipe_card.cooked | int > 14 and recipe_card.cooked | int < 20 %}
                     {% for favorite in range(3) %}
                     <span><i class="material-icons">favorite</i></span>
                     {% endfor %}
                     {% else %}
                     <span>Very favorite meal for you!</span>
                     {% endif %}
                  </div>

                  <div class="card-action">
                     <div class="left">
                        <div class="icon--inline-block">

                           <!-- Hidden inputs for passing data AJAX -->
                           <input type="hidden" id="usernameInput{{ recipe_card.recipe_id }}" name="username"
                              value="{{ session['username'] }}">
                           <input type="hidden" id="recipe_nameInput{{ recipe_card.recipe_id }}" name="recipe_name"
                              value="{{ recipe_card.recipe_name }}">
                           <input type="hidden" id="imgInput{{ recipe_card.recipe_id }}" name="recipe_name"
                              value="{{ recipe_card.img }}">
                           <!-- / Hidden inputs for passing data AJAX -->

                           <button class="btn-floating waves-effect waves-light btn-heart"
                              recipe_id="{{ recipe_card.recipe_id }}">
                              <i class="material-icons heart">favorite_border</i>
                           </button>
                           <span class="cooked-number cookedInput{{ recipe_card.recipe_id }}"
                              id="cookedNumber{{recipe_card.recipe_id}}">{{ recipe_card.cooked }}
                           </span>
                        </div>
                     </div>
                     <div class="right">
                        <p class="icon--inline-block margin-right"><a
                              class="btn-floating btn-floating-tool waves-effect waves-light white"
                              href="{{ url_for('edit_page', username=session['username'], recipe_name=recipe_card.recipe_name) }}"><i
                                 class="material-icons tool">edit</i>Edit</a>
                        </p>
                        <div class="icon--inline-block removeCard">

                           <!-- Hidden inputs for passing data AJAX -->
                           <input type="hidden" id="usernameInput{{ recipe_card.recipe_id }}" name="username"
                              value="{{ session['username'] }}">
                           <input type="hidden" id="recipe_nameInput{{ recipe_card.recipe_id }}" name="recipe_name"
                              value="{{ recipe_card.recipe_name }}">
                           <!-- / Hidden inputs for passing data AJAX -->

                           <button class="btn-floating btn-floating-tool waves-effect waves-light white removeCardBtn"
                              recipe_id="{{ recipe_card.recipe_id }}"><i
                                 class="material-icons remove">remove</i>Remove</button>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">{{ recipe_card.recipe_name }}<i
                        class="material-icons right">close</i></span>
                  <p>{{ recipe_card.recipe|safe }}</p>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
   <!-- /Cards container -->

   <!-- Pagination -->
   <div class="center-align">
      <ul class="pagination">
         {% if clicked_page > 0 %}
         <li class="waves-effect"><a class="pagination-arrow-backward" href="#header"><i
                  class="material-icons">chevron_left</i></a></li>
         {% else %}
         <li class="disabled"><a class="pagination-arrow-backward" href="#header"><i
                  class="material-icons">chevron_left</i></a></li>
         {% endif %}

         {% for n in range(pages) %}
         {% if n == clicked_page %}
         <li class="waves-effect active"><a class="pagination-btn" href="#header">{{ n + 1 }}</a></li>
         {% else %}
         <li class="waves-effect"><a class="pagination-btn" href="#header">{{ n + 1 }}</a></li>
         {% endif %}
         {% endfor %}

         {% if clicked_page == (pages - 1) %}
         <li class="disabled"><a class="pagination-arrow-forward" href="#header"><i
                  class="material-icons">chevron_right</i></a></li>
         {% else %}
         <li class="waves-effect"><a class="pagination-arrow-forward" href="#header"><i
                  class="material-icons">chevron_right</i></a></li>
         {% endif %}
      </ul>
   </div>
   <!-- /Pagination -->
</div>

{% endblock %}