{% extends 'base.html' %}
{% block content %}

<!-- Logout button -->
<div class="arrow-back text-align--right"><a href="{{ url_for('landing_page') }}"
      class="waves-effect waves-light btn"><span class="logout-icon">Log Out</span><i
         class="material-icons">backspace</i></a></div>
<!-- /Logout button -->

<h2 class="center-align">Welcome to your cookbook, {{ user.name }}!</h2>

<!-- Sort by Select -->
<div class="container-select">
   <div class="row display-flex">
      <div class="col s2 margin--auto">
         <form action="{{ url_for('main_page_query', username=session['username']) }}" method="POST"
            class="select-form">
            <label for="pet-select">Sort by:</label>
            <select style="display: inline-block;" id="pet-select" name="sort">
               <option value="name" selected>Name</option>
               <option value="cuisine">Cuisine</option>
            </select>
            <button class="waves-effect waves-light btn">Sort</button>
         </form>
      </div>
   </div>
</div>
<!-- Sort by Select -->

<!-- Cards container -->
<div class="container container-cards">
   <div class="row">

      <div class="col s4">
         <a href="{{ url_for('add_page', username=session['username']) }}">
            <div class="card">
               <div class="card-content">
                  Add a new Card book<i class="material-icons">add</i>
               </div>
            </div>
         </a>
      </div>

      {% for recipe_card in user.recipe_cards %}
      <div class="col s4">
         <div class="card medium">

            <div class="card-image waves-effect waves-block waves-light">
               {% if recipe_card.img == "empty" %}
               <img class="activator" src="https://shop.countdown.co.nz/Content/Recipes/diamond_spagbol_540x380_5.jpg"
                  alt="default picture of meal">
               {% else %}
               <img class="activator" src="{{ url_for('file', filename=recipe_card.img) }}" alt="picture of meal">
               {% endif %}
            </div>

            <div class="card-content">
               <span class="card-title activator grey-text text-darken-4">{{ recipe_card.recipe_name }}<i
                     class="material-icons right">restaurant_menu</i></span>
               <button class="right activator waves-effect waves-light btn-small">Recipe</button>
               <p>{{ recipe_card.cuisine }}</p>

               <div class="hearts">
                  {% if recipe_card.cooked | int < 5 %}
                  <span></span>
                  {% elif recipe_card.cooked | int > 4 and recipe_card.cooked | int < 10 %}
                  <span><i class="material-icons">favorite</i></span>
                  {% elif recipe_card.cooked | int > 9 and recipe_card.cooked | int < 15 %}
                  {% for favorite in range(2) %}
                  <span><i class="material-icons">favorite</i></span>
                  {% endfor %}
                  {% elif recipe_card.cooked | int > 14 and recipe_card.cooked | int < 20 %}
                  {% for favorite in range(3) %}
                  <span><i class="material-icons">favorite</i></span>
                  {% endfor %}
                  {% elif recipe_card.cooked | int > 19 and recipe_card.cooked | int < 25 %}
                  {% for favorite in range(4) %}
                  <span><i class="material-icons">favorite</i></span>
                  {% endfor %}
                  {% elif recipe_card.cooked | int > 24 and recipe_card.cooked | int < 30 %}
                  {% for favorite in range(5) %}
                  <span><i class="material-icons">favorite</i></span>
                  {% endfor %}
                  {% elif recipe_card.cooked | int > 29 and recipe_card.cooked | int < 35 %}
                  {% for favorite in range(6) %}
                  <span><i class="material-icons">favorite</i></span>
                  {% endfor %}
                  {% else %}
                  <span>Very favorite meal for you!</span>
                  {% endif %}
               </div>
               
               <div class="card-action">
                  <div class="left">
                     <form
                        action="{{ url_for('add_cooked', username=session['username'], cooked=recipe_card.cooked, recipe_name=recipe_card.recipe_name) }}"
                        method="POST" class="icon--inline-block">
                        <button class="btn-floating waves-effect waves-light green"><i
                              class="material-icons">favorite_border</i></button><span
                           class="cooked-number">{{ recipe_card.cooked }}</span>
                     </form>
                  </div>
                  <div class="right">
                     <p class="icon--inline-block"><a class="btn-floating waves-effect waves-light yellow"
                           href="{{ url_for('edit_page', username=session['username'], recipe_name=recipe_card.recipe_name) }}"><i
                              class="material-icons">edit</i>Edit</a>
                     </p>
                     <form
                        action="{{ url_for('remove_cookcard', username=session['username'], recipe_name=recipe_card.recipe_name, img_name=recipe_card.img) }}"
                        method="POST" class="icon--inline-block">
                        <button class="btn-floating waves-effect waves-light red"><i
                              class="material-icons">remove</i>Remove</button>
                     </form>
                  </div>
               </div>
            </div>

            <div class="card-reveal">
               <span class="card-title grey-text text-darken-4">{{ recipe_card.recipe_name }}<i
                     class="material-icons right">close</i></span>
               <p>{{ recipe_card.recipe|safe }}</p>
            </div>
         </div>
      </div>
      {% endfor %}

   </div>
</div>
<!-- /Cards container -->

{% endblock %}