{% extends 'base.html' %}
{% block content %}

<!-- Logout button -->
<div class="arrow-back text-align--right"><a href="{{ url_for('landing_page') }}"
      class="waves-effect waves-light btn"><i class="material-icons">skip_next</i></a></div>
<!-- /Logout button -->

<h2 class="center-align">Welcome to your cookbook, {{ user.name }}!</h2>

<!-- Sort by Select -->
<div class="container-select">
   <div class="row display-flex">
      <div class="col s2 margin--auto">
         <form action="" method="POST">
            <label for="pet-select">Sort by:</label>
            <select style="display: inline-block;" id="pet-select">
               <option value="" disabled selected>sort</option>
               <option value="name">Name</option>
               <option value="cuisine">Cuisine</option>
            </select>
         </form>
      </div>
   </div>
</div>
<!-- Sort by Select -->

<!-- Cards container -->
<div class="container container-cards">
   <div class="row">
      {% for recipe_card in user.recipe_cards %}
      <div class="col s4">
         <div class="card medium">
            <div class="card-image waves-effect waves-block waves-light">
               {% if recipe_card.img == "empty" %}
               <img class="activator" src="https://shop.countdown.co.nz/Content/Recipes/diamond_spagbol_540x380_5.jpg" alt="default picture of meal">
               {% else %}
               <img class="activator" src="{{ url_for('file', filename=recipe_card.img) }}" alt="picture of meal">
               {% endif %}
               
            </div>
            <div class="card-content">
               <span class="card-title activator grey-text text-darken-4">{{ recipe_card.recipe_name }}<i
                     class="material-icons right">more_vert</i></span>
               <p>{{ recipe_card.cuisine }}</p>
               <div class="card-action">
                  <div class="right">
                     <p class="icon--inline-block"><a class="btn-floating waves-effect waves-light yellow"
                           href="{{ url_for('edit_page', username=session['username'], recipe_name=recipe_card.recipe_name) }}"><i
                              class="material-icons">edit</i>Edit</a>
                     </p>
                     <form
                        action="{{ url_for('remove_cookcard', username=session['username'], recipe_name=recipe_card.recipe_name, img_name=recipe_card.img) }}"
                        method="POST" class="icon--inline-block">
                        <button class="btn-floating waves-effect waves-light red"><i
                              class="material-icons">remove</i>Remove</button>
                     </form>
                  </div>
               </div>
            </div>

            <div class="card-reveal">
               <span class="card-title grey-text text-darken-4">{{ recipe_card.recipe_name }}<i
                     class="material-icons right">close</i></span>
               <p>{{ recipe_card.recipe|safe }}</p>
            </div>
         </div>
      </div>
      {% endfor %}

      <div class="col s4">
         <a href="{{ url_for('add_page', username=session['username']) }}">
            <div class="card">
               <div class="card-content">
                  Add a new Card book<i class="material-icons">add</i>
               </div>
            </div>
         </a>
      </div>
   </div>
</div>
<!-- /Cards container -->

{% endblock %}